@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
body {
margin: 0;
padding: 0;
background-color: #F3F6FB;
font-family: 'Poppins', sans-serif;
}
.wrapper{
background: #fff;
max-width: 400px;
width: 100%;
margin: 100px auto;
padding: 25px;
border-radius: 5px;
box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
}
#box {
width: 9%;
height: 30px;
margin-bottom: 5px;
font-size: 11pt;
padding: 15px 10px 0px;
border: 1px solid pink;
border-radius: 5px;
box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
outline: none;
background-color: pink;
}
.inputbox {
width: 80%;
height: 45px;
padding: 10px;
padding-top: 10px;
color: black;
}
